---
const entries = await Astro.locals.pb
  .collection("entries")
  .getFullList({ expand: "campaign,type" });
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SCFVI</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>SAUDI CYBERFEMINISM VISUAL INDEX</h1>
      <table>
        <tr>
          <th>Year</th>
          <th>Title</th>
          <th>Author</th>
          <th>Campaign</th>
          <th>Type</th>
          <th></th>
        </tr>
        {
          entries.map((entry) => (
            <tr>
              <td>{entry.year}</td>
              <td>{entry.title}</td>
              <td>{entry.author}</td>
              <td>{entry.expand["campaign"].name}</td>
              <td>{entry.expand["type"].name}</td>
              <td>
                <a href={entry.link} target="_blank">
                  Link
                </a>
              </td>
            </tr>
          ))
        }
      </table>
    </main>
  </body>
</html>

<style>
  * {
    background-color: black;
  }

  body {
    font-family: "Gabarito Variable", system-ui;
  }

  h1 {
    color: #e850ff;
    width: 100%;
  }
</style>
